<%- include('partials/header.ejs'); -%>

<div class="container">
   <div class="row">
    <div class="col-12 text-center m-3 text-warning shadow"><h1>Welcome to Paying Guest Management System</h1></div>
    <div class="col-12 text-center"><h6 id="head"></h6></div>
   </div>
</div>

<div class="container">
    <div class="row text-center d-flex justify-content-center">
        <div class="col-3 dsn border m-1 shadow"><h3>Total Guest</h3>
            <p id="TGuest"><%= tguest %></p>
        </div>
        <div class="col-3 dsn border m-1 shadow"><h3>Total Rooms</h3>
            <p id="TRooms"><%= Trooms %></p> <!-- Display total rooms count -->
        </div>
        <div class="col-3 dsn border m-1 shadow"><h4>Available Capacity</h4>
            <p id="Tcap"></p>
        </div>
    
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 m-2 d-flex justify-content-center">
          
                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
     
            
        </div>
    </div>
</div>

<!--Managing buttons-->

<div class="container">
    <div class="row text-center d-flex justify-content-center">
        <div class="col-3 dsn border m-1 shadow"><p>Book a Room</p>
            <button type="button" class="btn btn-success" onclick="Booking()" id="Bookbtn">Book</button>
        </div>
        <div class="col-3 dsn border m-1 shadow"><p>Guest Manage</p>
            <button type="button" class="btn btn-danger" onclick="window.location.href='/views/Guest.ejs'" >Manage</button>
        </div>
        <div class="col-3 dsn border m-1 shadow"><p>Add Room</p>
            <button type="button" class="btn btn-success" onclick="OpenForm()">Add Room</button>
        </div>
    </div>
</div>

<!--Employee and guest manager-->

<div class="container">
    <div class="row text-center d-flex justify-content-center">
        <div class="col-3 dsn border m-1 shadow"><p>Guest History</p>
            <button type="button" class="btn btn-success" onclick="window.location.href='/views/Hguest.ejs'" id="Bookbtn">History</button>
        </div>
        <div class="col-3 dsn border m-1 shadow"><p>Manage Employee</p>
            <button type="button" class="btn btn-danger" onclick="window.location.href='/views/Employee.ejs'" >Manage</button>
        </div>
        <div class="col-3 dsn border m-1 shadow"><p>Employee Attendence</p>
            <button type="button" class="btn btn-success" onclick="OpenAttendence()">Attendence</button>
        </div>
    </div>
</div>

<!--Managing buttons-->




<!--Rooms tabs -->

<div class="container">
    <div class="row justify-content-center text-dark shadow">
        <% 
        let totalCapacity = 0; // Initialize a variable to hold the total capacity
        
        capacities.forEach(capacity => {
            if (Array.isArray(capacity.typeRoom)) {
                // Sum up the integers in the array
                totalCapacity += capacity.typeRoom.reduce((sum, value) => sum + (parseInt(value) || 0), 0);
            } else {
                // Handle the case where typeRoom is not an array (if necessary)
                totalCapacity += parseInt(capacity.typeRoom) || 0;
            }
        }); 


        let totalBookings = 0; // Initialize a variable to hold the total capacity
        
        capacities.forEach(capacity => {
            if (Array.isArray(capacity.bookingCount)) {
                // Sum up the integers in the array
                totalBookings += capacity.bookingCount.reduce((sum, value) => sum + (parseInt(value) || 0), 0);
            } else {
                // Handle the case where typeRoom is not an array (if necessary)
                totalBookings += parseInt(capacity.bookingCount) || 0;
            }
        }); 


       

      
        %>
        
        <% capacities.forEach(capacity => { %>
        <div id="box-<%= capacity.roomNumber %>" class="col-3 bg-warning m-1 border text-center shadow p-2 text-wrap">
            <h4>Room Number: <%= capacity.roomNumber %></h4>
            <h5 id="room-info">Capacity: <%= Array.isArray(capacity.typeRoom) ? capacity.typeRoom.join(', ') : capacity.typeRoom %></h5>
            <h6>Bookings: <%= capacity.bookingCount %></h6>
            <p class="text-break"><u>Amenities: <%= capacity.facility %></u></p>
            <form id="deleteRoomForm" action="/delroom" method="POST">
                <input type="hidden" name="delRoom" value="<%= capacity.roomNumber %>">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
        <% }); %>

        <!-- Display the total capacity -->
        <div class="col-12 text-center mt-3">
            <h4 id="Tcapacity">Total Capacity: <%= totalCapacity %></h4>
            <h4 id="Tbookings">Total Bookings: <%= totalBookings %></h4>
        </div>
    </div>
</div>




<!-- Room Tabs -->
<div class="container border text-center " id="Room" style="display:none">
    <div class="row border">
        
        <div class="col-lg-6 text-start"><h6 class="">Create a new Room</h6></div>
        <div class="col-lg-6 text-end"><button class="bg-danger text-light" onclick="closed()">X</button></div>
    </div>
    <form action="/room" method="post">
        <label for="RoomNo">Enter Room No.</label><br>
        <input type="number" name="room_number" id="RoomNo" placeholder="Existing room no. only" required><br>
        
        <label for="Tor">No. of sharing</label><br>
        <input type="number" name="room_type" id="Tor" placeholder="Ex: 1,2 etc " required><br>
        
        <label for="Amenities">Enter Amenities</label><br>
        <input type="text" name="amenities" id="Amenities" required><br>
        <br>
        <button class="btn-success" type="submit">Submit</button>
    </form>
</div>



<!--Booking form-->
<div class="container border text-center shadow " id="booking" style="display:none;">
    <div class="row border">

        <div class="col-lg-6 text-start"><h6 class="">New Guest Booking</h6></div>
        <div class="col-lg-6 text-end"><button class="bg-danger text-light" onclick="closed()">X</button></div>
        
       
        
    </div>

    <form action="/book" method="post">
       
        <label for="BookedRoomNo">Room Number</label><br>
        <input type="text" name="room_number"><br>
        
        <label for="GuestName">Guest Name</label><br>
        <input type="text" name="guest_name" id="GuestName" required><br>
        
        <label for="GuestID">Guest Govt ID</label><br>
        <input type="text" name="guest_id" id="GuestID" required><br>
        
        <label for="GuestAddress">Guest Address</label><br>
        <input type="text" name="guest_address" id="GuestAddress" required><br>
        
        <label for="GuestPhone">Guest Phone</label><br>
        <input type="phone" name="guest_phone" id="GuestPhone" required><br>
        
        <label for="BookingDate">Date</label><br>
        <input type="date" name="date" id="BookingDate" required><br>
        
        <label for="BookingTime">Time</label><br>
        <input type="time" name="time" id="BookingTime" required><br>
        <br>
        <button class="btn-success" type="submit" onclick="Booked()">Book Room</button>
    </form>
</div>


<div class="container " id="Attendence" style="display:none;">
    <div class="row border">
        <div class="col-6 text-start" > 
                <h6 class="text-start">Employee Attendence</h6>
            </div>
            <div class="col-6 text-danger text-end" >
                <button class="bg-danger  text-light" onclick="closed()">X</button>
            </div>
        <div class="col-12 border text-center shadow p-4">


            <form action="/add-attendence" method="post">
                <label for="">EmployeeId</label><br>
                <input type="text" name="employeeId" id="" required><br>
                <label for="">Date</label><br>
                <input type="date" name="attendanceDate" id="" required><br>
            
                <label for="">Attendence</label><br>
                <select name="present" id="" required>
                    <option value="None">None</option>
                <option value="Present">Present</option>
                <option value="Absent">Absent</option>
                </select><br>
            
                <label for="">Work Type</label><br>
                <select name="workType" id="" required>
                    <option value="full_day">full_day</option>
                    <option value="half_day">half_day</option>
                    <option value="leave">leave</option>
                </select> <br>
            
                <label for="">Hours</label><br>
                <input type="number" name="hours" required><br>
            
                <button type="submit" onclick="closed()">Submit</button> 
            </form>

        </div>
    </div>
</div>







<%- include('partials/footer.ejs'); -%>
